<div class="sort-app">
  <h1>Sort algorithms</h1> - (Angular 15 + Chart.js)<br>

  Here you can find popular <b>sorting algorithms</b> visualization and sample implementation written using
  <b>TypeScript</b>.<br>
  This page may be useful if you lean sorting algorithms basics.
  <p>
  Please note that visualization doesn't reflect actual algorithms speed. For performance refer to <b>O(x)</b>
  complexity values instead.
  <p>
    Remark:
    <i>I created this page while reviewing basic algorithms theory, hopefully this can also be useful to you :-)</i>
  <p>
  <bubble-sort></bubble-sort>
  <shaker-sort></shaker-sort>
  <insertion-sort></insertion-sort>
  <shell-sort></shell-sort>
</div>
