<div>
  <a href="/sort#shell-sort"><h2 id="shell-sort">Shell sort</h2></a>

  <label>Worst-Case time complexity:</label> O(n<sup>2</sup>).
  <label>Average case time complexity</label> O(n * log(n)).
  <label>Best case time complexity</label> O(n * log(n)).

  <div class="chart-container">
    <div (click)="onReplayClick()" class="replay-button"><img src="../../../../../../assets/images/replay-24.png" title="Replay"></div>
    <canvas #canvas class="chart"></canvas>
    <pre [innerHTML]="sortCode"></pre>
  </div>
</div>
